In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer
from sklearn.model_selection import train_test_split

In [ ]:
# channel_values = open('..\Datasets\Diabetes.txt').read().split()

In [ ]:
# data = np.array(channel_values)
# data = data.reshape(-1, 11)
# data.shape

In [ ]:
# headers = data[0,:]
# headers

In [ ]:
# data = np.delete(data, 0, axis = 0)
# data

In [ ]:
# df = pd.DataFrame(data, columns = headers)
# df

In [2]:
df = pd.read_csv('../datasets/Diabetes/Diabetes.csv')

In [3]:
df = df.dropna()
df_subset = df.drop(['Y'], axis=1)
df_subset

     AGE  SEX   BMI      BP   S1     S2    S3    S4      S5   S6
0     59    2  32.1  101.00  157   93.2  38.0  4.00  4.8598   87
1     48    1  21.6   87.00  183  103.2  70.0  3.00  3.8918   69
2     72    2  30.5   93.00  156   93.6  41.0  4.00  4.6728   85
3     24    1  25.3   84.00  198  131.4  40.0  5.00  4.8903   89
4     50    1  23.0  101.00  192  125.4  52.0  4.00  4.2905   80
..   ...  ...   ...     ...  ...    ...   ...   ...     ...  ...
437   60    2  28.2  112.00  185  113.8  42.0  4.00  4.9836   93
438   47    2  24.9   75.00  225  166.0  42.0  5.00  4.4427  102
439   60    2  24.9   99.67  162  106.6  43.0  3.77  4.1271   95
440   36    1  30.0   95.00  201  125.2  42.0  4.79  5.1299   85
441   36    1  19.6   71.00  250  133.2  97.0  3.00  4.5951   92

[442 rows x 10 columns]

In [4]:
data = df_subset
labels_true = df[['Y']]
scaler = StandardScaler()
random_seed = np.load(file="..\Seeds\seed1.npy")

for i in range(20):
    X_train, X_test, y_train, y_test = train_test_split(data, labels_true, test_size=0.2, random_state=random_seed[i])
    X_train = scaler.fit_transform(X_train.values.astype(np.float32))
    X_test = scaler.transform(X_test.values.astype(np.float32))
    
    np.save("..\datasets\Diabetes\\X_train" + str(i) +".npy", X_train)
    np.save("..\datasets\Diabetes\\X_test" + str(i) +".npy", X_test)
    np.save("..\datasets\Diabetes\\y_train" + str(i) +".npy", y_train)
    np.save("..\datasets\Diabetes\\y_test" + str(i) +".npy", y_test)

In [5]:
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
import pandas as pd

total_test_r2 = []
total_test_mse = []

iteration = 20
seed_rf = np.load(file="..\Seeds\seed2.npy")

for iters in range(iteration):
    print("Iteration:", iters)
    name1 = "..\datasets\Diabetes\X_train" + str(iters) + ".npy"
    name2 = "..\datasets\Diabetes\X_test" + str(iters) + ".npy"
    name3 = "..\datasets\Diabetes\y_train" + str(iters) + ".npy"
    name4 = "..\datasets\Diabetes\y_test" + str(iters) + ".npy"
    
    X_train = np.load(name1, allow_pickle=True).astype(np.float32)
    X_test = np.load(name2, allow_pickle=True).astype(np.float32)
    y_train = np.load(name3, allow_pickle=True).astype(np.float32).reshape(-1, 1)
    y_test = np.load(name4, allow_pickle=True).astype(np.float32).reshape(-1, 1)
    
    estimator=RandomForestRegressor(n_estimators=100, random_state=seed_rf[iters])
    estimator.fit(X_train, y_train.ravel())
    prediction_=estimator.predict(X_test)
    
    total_test_r2.append(r2_score(y_test, prediction_))
    total_test_mse.append(mean_squared_error(y_test, prediction_))

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9
Iteration: 10
Iteration: 11
Iteration: 12
Iteration: 13
Iteration: 14
Iteration: 15
Iteration: 16
Iteration: 17
Iteration: 18
Iteration: 19

In [6]:
print("Median R2:", np.mean(np.array(total_test_r2)))
print("Median RMSE:", np.mean(np.sqrt(np.array(total_test_mse))))

Median R2: 0.4490814419721036
Median RMSE: 56.05732607829067

In [7]:
print(X_train.shape)

(353, 10)