In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("../datasets/RedWine/winequality-red_.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
df = df.dropna()
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
df_subset = df.drop(['quality'], axis=1)
df_subset

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [7]:
data = df_subset
labels_true = df[['quality']]
scaler = StandardScaler()
random_seed = np.load(file="..\Seeds\seed1.npy")

for i in range(20):
    X_train, X_test, y_train, y_test = train_test_split(data, labels_true, test_size=0.2, random_state=random_seed[i])
    X_train = scaler.fit_transform(X_train.values.astype(np.float32))
    X_test = scaler.transform(X_test.values.astype(np.float32))
    
    np.save("..\datasets\RedWine\\X_train" + str(i) +".npy", X_train)
    np.save("..\datasets\RedWine\\X_test" + str(i) +".npy", X_test)
    np.save("..\datasets\RedWine\\y_train" + str(i) +".npy", y_train)
    np.save("..\datasets\RedWine\\y_test" + str(i) +".npy", y_test)

In [8]:
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
import pandas as pd

total_test_r2 = []
total_test_mse = []

iteration = 20

seed_rf = np.load(file="..\Seeds\seed2.npy")

for iters in range(iteration):
    print("Iteration:", iters)
    name1 = "..\datasets\RedWine\X_train" + str(iters) + ".npy"
    name2 = "..\datasets\RedWine\X_test" + str(iters) + ".npy"
    name3 = "..\datasets\RedWine\y_train" + str(iters) + ".npy"
    name4 = "..\datasets\RedWine\y_test" + str(iters) + ".npy"
    
    X_train = np.load(name1, allow_pickle=True).astype(np.float32)
    print(X_train.shape)
    X_test = np.load(name2, allow_pickle=True).astype(np.float32)
    y_train = np.load(name3, allow_pickle=True).astype(np.float32).reshape(-1, 1)
    y_test = np.load(name4, allow_pickle=True).astype(np.float32).reshape(-1, 1)
    
    estimator=RandomForestRegressor(n_estimators=100, random_state=seed_rf[iters])
    estimator.fit(X_train, y_train.ravel())
    prediction_=estimator.predict(X_test)
    
    total_test_r2.append(r2_score(y_test, prediction_))
    total_test_mse.append(mean_squared_error(y_test, prediction_))

Iteration: 0
(1279, 11)
Iteration: 1
(1279, 11)
Iteration: 2
(1279, 11)
Iteration: 3
(1279, 11)
Iteration: 4
(1279, 11)
Iteration: 5
(1279, 11)
Iteration: 6
(1279, 11)
Iteration: 7
(1279, 11)
Iteration: 8
(1279, 11)
Iteration: 9
(1279, 11)
Iteration: 10
(1279, 11)
Iteration: 11
(1279, 11)
Iteration: 12
(1279, 11)
Iteration: 13
(1279, 11)
Iteration: 14
(1279, 11)
Iteration: 15
(1279, 11)
Iteration: 16
(1279, 11)
Iteration: 17
(1279, 11)
Iteration: 18
(1279, 11)
Iteration: 19
(1279, 11)

In [9]:
print("Median R2:", np.mean(np.array(total_test_r2)))
print("Median RMSE:", np.mean(np.sqrt(np.array(total_test_mse))))

Median R2: 0.4726548127808625
Median RMSE: 0.5826023212157763